body
{
    margin-left: 4px;
    margin-right: 4px;
}

.ui-footer
{
    text-align: center;    
}

.ui-content
{
  padding-left:  15px;
  padding-right: 15px;
  padding-top:   5px;
}

.err
{
    color: red;
}

.badcategory
{
  color: red;
}

.mediumcategory
{
  color: orange;   
}

.goodcategory
{
  color: green;   
}